.card-mision {
    width: 300px;
    border: 1px solid #437d21;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .card-mision:hover {
    transform: translateY(-5px);
  }
  
  .card-header {
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-header .titulo {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 5px 0;
  }
  
  .foto-mapa img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  button, .create-mission-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
    border: none;
    background-color: #437d21;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover, .create-mission-button:hover {
    background-color: #59A52c;
  }
  
  .edit-section {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .edit-form input, .edit-form textarea, .edit-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  
  .edit-form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-form-buttons button {
    width: 48%;
  }
  